@charset "UTF-8";
@media all and (min-width:768px) {
.menu-toggle-btn{
display:none;
}
.header .gnb{
display:block;
position:static;
background:none;
width:auto;
float:right;
margin-top:10px;
}
.header .gnb li{
float:left;
border:none;
width:95px;
}
.header .gnb li:last-child{
border-bottom:none;
}
.header .gnb li a{
color:#3f51b5;
}
.header .gnb li a:hover{
text-decoration:none;
}
.carousel-item, .carousel-item img {
height:500px;
}
/* we are 영역 시작*/
.float-clear {
clear:both; /*clear속성은 float작동을 없애는 역할*/
}
.weare-body li{
float:left;/*세로정렬을 가로정렬로 변경 부트스트랩의 그리드시스템 col-12(100%),col-3,col-3,col-3,col-3*/
width:23.046875%; /*(177/768)*100= 몇% */
margin-left:2.604166%; /*(20/768)x100= 몇%*/
overflow:hidden; /*반응형list박스에서 가로크기를 벗어나는 이미지 내용은 숨김처리*/
}
.weare-body li img{
height:auto;
width:100%;
}
.weare-body {
margin:10px 3%;
}
.weare-body li:first-child{
margin-left:0px;
}

/* we are 영역 끝*/ 
}