@charset "UTF-8";
@media all and (min-width:768px) {
.menu-toggle-btn{
display:none;
}
.header .gnb{
display:block;
position:static;
background:none;
width:auto;
float:right;
margin-top:10px;
}
.header .gnb li{
float:left;
border:none;
width:95px;
}
.header .gnb li:last-child{
border-bottom:none;
}
.header .gnb li a{
color:#3f51b5;
}
.header .gnb li a:hover{
text-decoration:none;
}
.carousel-item, .carousel-item img {
height:500px;
}
}